@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Creepster&family=Special+Elite&display=swap');

.header {
  justify-content: center;
  height: 10%;
  background-color: #1e1b1e;
}
.space {
  flex: 1 1 auto;
}
h1{
  color: #7a0f02;
  letter-spacing: 1.5px;
  font-family: 'Creepster', cursive;
  font-size: 50px;
}
img
{
  height: 3rem;
  margin-right: 5px;
}
.icon_menu{
  height: 2rem;
}
button{
  background-color: #1e1b1e;
}
a{
  text-decoration: none;
  color: #7a0f02;;
  letter-spacing: 1.5px;
  font-family: 'Creepster', cursive;
  font-size: 25px;
}